<launch>

    <!-- brings up the pico_bridge, as well as any nodes that are designed to handle input/output to it -->

    <arg name="gps_topic" default="/fix" />

    <!-- initialize the Pico bridge for serial communication between SBC and Pico-->
    <node pkg="rover_hw_nodes" type="pico_bridge.py" name="pico_bridge" output="screen">
    </node>

    <!-- listen to GPS output of pico_bridge and publish NavSatFix messages -->
    <!-- <node pkg="nmea_navsat_driver" type="nmea_topic_driver" name="gps_topic_listener">
        <remap from="/fix" to="$(arg gps_topic)"/>
    </node> -->

</launch>